langchain==0.3.14
transformers==4.47.1
tiktoken==0.8.0
llama-cpp-python==0.3.5
langchain-community==0.3.14
transformers-stream-generator==0.0.5
streamlit==1.41.1
numexpr==2.10.2
numpy==2.2.1
huggingface-hub==0.27.1
wikipedia==1.4.0
ollama==0.4.5
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
