amadeus==12.0.0
ipykernel==6.29.5
jupyter==1.1.1
langchain==0.3.25
langchain-community==0.3.24
streamlit==1.45.1
huggingface-hub==0.31.2
pydantic==2.11.4
wikipedia==1.4.0
google-search-results==2.4.2
hf-xet==1.1.1
