langchain==0.3.24
langchain-community==0.3.23
langchain-core==0.3.56
langchain-huggingface==0.1.2
huggingface-hub==0.29.1
sentence-transformers==3.4.1
chromadb==0.6.3
transformers==4.53.1
pypdf==5.3.0
torch==2.7.1
langchain-chroma==0.2.2
beautifulsoup4==4.13.3
