langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.30
langchain-huggingface==0.1.2
huggingface-hub==0.27.1
sentence-transformers==3.3.1
chromadb==0.6.3
PyPDF2==5.1.0
transformers==4.48.0
beautifulsoup4==4.12.3
pypdf==5.1.0
torch==2.5.1+cxx11.abi
langchain-chroma==0.2.0
