flask==3.1.0
flask_cors==5.0.0
langchain==0.3.14
langchain-community==0.3.14
sentence-transformers==3.3.1
langchain_chroma==0.2.0
Bs4==0.0.2
trl==0.13.0
pypdf==5.1.0
optimum[openvino,nncf]==1.23.3
ipykernel==6.29.5
